@import 'bourbon/bourbon';

body {
    background: #1a1a1a;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    // Quick sticky footer
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    // Fire-off Hardware Acceleration
    @include transform(translateZ(0));
    @include backface-visibility(hidden);
    @include perspective(1000);
}

::selection {
  background: #ffb7bd; /* Safari */
}

// For sticky footer
.wrapper {
  flex: 1;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  height: 75px;
  z-index: 999;
  padding: 20px;
  border-bottom: 1px solid lighten(#1a1a1a, 10%);
  background: #1a1a1a;

  .form-control {
    float: right;
    width: 200px;
    background: lighten(#1a1a1a, 5%);
    border-color: lighten(#1a1a1a, 20%);
    box-shadow: none;
    @include border-left-radius(999px);
    @include border-right-radius(999px);
    @include transition (all 0.3s ease-in-out);
  }

  .form-control:focus {
    width: 250px;
    background: lighten(#1a1a1a, 15%);
    color: #fff;
    box-shadow: none;
  }

  .btn-group {
    float: left;
  }

  .btn-default {
    background: none;
    border-color: lighten(#1a1a1a, 20%);
    box-shadow: none;
    color: lighten(#1a1a1a, 80%);
    @include transition (all 0.3s ease-in-out);
  }

  .btn-default.active, .btn-default:hover {
    background: saturate(#e9d723, 10%);
    border-color: saturate(#e9d723, 10%);
    box-shadow: none;
    color: darken(#e9d723, 80%);
  }
}

footer {
  width: 100%;
  background: #F01700;
  margin: 0;
  padding: 40px 0;
  @include animation-duration(2s);
  @include transition (all 0.3s ease-in-out);

  h3 {
    text-align: center;
    font-weight: 300;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    color: #fff;
    @include transition (all 0.3s ease-in-out);

    a {
      padding: 4px 0px;
      border-bottom: 2px solid saturate(#e9d723, 10%);
      color: saturate(#e9d723, 10%);
      text-decoration: none;
      @include border-left-radius(0px);
      @include border-right-radius(0px);
      @include transition (all 0.3s ease-in-out);
    }

    a:hover {
      background: saturate(#e9d723, 10%);
      color: darken(#e9d723, 40%);
      text-decoration: none;
      @include border-left-radius(2px);
      @include border-right-radius(2px);
    }

    i {
      font-size: 20px;
      padding: 0;
      margin: 20px 0;
      color: lighten(#F01700, 20%);
      text-align: center;
    }
  }

  p {
    text-align: center;
    font-weight: 300;
    width: 425px;
    margin: 0 auto;
    color: lighten(#F01700, 50%);

    a {
      color: saturate(#e9d723, 10%);
      @include transition (all 0.3s ease-in-out);
    }

    a:hover {
      background: saturate(#e9d723, 10%);
      color: darken(#e9d723, 40%);
      text-decoration: none;
      @include border-left-radius(2px);
      @include border-right-radius(2px);
    }

    b {
      font-weight: 400;
      color: #fff;
    }
  }
}

.grid {
    margin: 0;
    margin-top: 75px; // Make room for nav
    padding: 0;
    list-style: none;
    position: relative;
    width: 100%;

    li {
      position: relative;
      float: left;
      overflow: hidden;
      width: 16.6666667%; // Fallback
      width: -webkit-calc(100% / 6);
      width: calc(100% / 6);
      max-height: 100%;
      overflow: hidden;
      @include transition (all 0.3s ease-in-out);

      a, a > img {
        display: block;
        width: 100%;
        cursor: pointer;
      }

      a > img {
        max-width: 100%;
        @include transition (all 0.3s linear);
        // Fix images with different heights (This works!!!???)

      }

      a > div {
        position: absolute;
        padding: 0 20px;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        @include background-image(linear-gradient(transparent 0, rgba(0,0,0,0.5) 70%, rgba(0,0,0,0.7) 80%, rgba(0,0,0,1) 100%));
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        text-align: center;
        opacity: 0;
        cursor: pointer;
        @include transition (all 0.3s ease-in-out);

        h3 {
          width: 100%;
          color: #fff;
          text-transform: uppercase;
          font-size: 1.4em;
          letter-spacing: 2px;
          cursor: pointer;
          // Truncate longer titles
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: center;
          @include animation-name(flipOutY);
          @include animation-duration(0.5s);
        }

        h4 {
          font-size: 1.1em;
          color: #fff;
          font-weight: 300;
          @include animation-name(flipOutY);
          @include animation-duration(0.5s);
        }

        i {
          font-size: 1.6em;
          color: #fff;
          @include animation-name(flipOutY);
          @include animation-duration(0.5s);
        }

        // Ratings fill
        i.rating {
          font-size: 1.6em;
          background-clip: text;
          text-fill-color: transparent;
          text-stroke-width: 2px;
          text-stroke-color: rgba(213,43,25,1);
          -moz-text-fill-color: transparent;
          -moz-text-stroke-width: 2px;
          -moz-text-stroke-color: rgba(213,43,25,1);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke-width: 2px;
          -webkit-text-stroke-color: rgba(213,43,25,1);
          background-repeat: repeat;
          background-size: 100% 500%;
          @include transition (background 0.5s linear);
          @include animation-name(flipOutY);
          @include animation-duration(0.5s);
        }

        .percent {
          font-size: 0.8em;
          font-weight: 300;
          margin-left: -4px;
        }
      }

      a:hover > img {
        -webkit-filter: blur(1px) opacity(50%);
        -moz-filter: blur(1px) opacity(50%);
        -ms-filter: blur(1px) opacity(50%);
        -o-filter: blur(1px) opacity(50%);
        filter: blur(1px) opacity(50%);
        @include transition (all 0.3s linear);
      }

      a:hover > div {
        opacity: 1;

        h3 {
          @include animation-name(fadeInUp);
          @include animation-duration(0.4s);
        }

        i {
          @include animation-name(fadeInUp);
          @include animation-duration(0.5s);
        }

        i.rating {

        }

        h4 {
          @include animation-name(fadeInUp);
          @include animation-duration(0.7s);
        }
      }
  }

  // ng-animate
  .ng-leave ul.grid, .ng-leave.ng-leave-active ul.grid{
    border: 8px solid red;
    @include animation-name(growOut);
    @include animation-duration(0.5s);
    //@include animation-direction(reverse);
  }

  li.ng-leave, li.ng-leave.ng-leave-active {
    @include animation-name(growOut);
    @include animation-duration(0.3s);
    //@include animation-direction(reverse);
  }

  li.ng-enter, li.ng-enter.ng-enter-active {
    //border: 8px solid blue;
    @include animation-name(growIn);
    //@include animation-direction(reverse);
  }
}

// Responsiveness - change number of items per row

@media screen and (max-width: 1190px) {
  .grid {
    li {
      width: 20%; // Fallback
      width: -webkit-calc(100% / 5);
      width: calc(100% / 5);
      max-height: 340px;
    }
  }
}

@media screen and (max-width: 980px) {
  .grid {
    li {
      max-height: 290px;
    }
  }
}

@media screen and (max-width: 945px) {
  .grid {
    li {
      width: 25%; // Fallback
      width: -webkit-calc(100% / 4);
      width: calc(100% / 4);
      max-height: 320px;
    }
  }
}

@media screen and (max-width: 500px) {
  .grid {
    li {
      max-height: 260px;
    }
  }
}

@media screen and (max-width: 660px) {

  nav {
    height: 130px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;

    .form-control {
      margin-top: 30px;
    }
  }

  .grid {

    margin-top: 130px;

    li {
      width: 33.333333%; // Fallback
      width: -webkit-calc(100% / 3);
      width: calc(100% / 3);
      max-height: 310px;
    }
  }

  footer {
    p {
      width: 100%;
      padding: 0 40px;
    }
  }
}

@media screen and (max-width: 400px) {
  nav {
    height: 130px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;

    .form-control {
      margin-top: 30px;
    }
  }

  .grid {

    margin-top: 130px;

    li {
      width: 50%; // Fallback
      width: -webkit-calc(100% / 2);
      width: calc(100% / 2);
      max-height: 295px;
    }
  }

  footer {
    p {
      width: 100%;
      padding: 0 40px;
    }
  }
}

@media screen and (max-width: 300px) {
   nav {
    height: 130px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;

    .form-control {
      margin-top: 30px;
    }
  }

  .grid {

    margin-top: 130px;

    li {
      width: 100%;
    }
  }

  footer {
    p {
      width: 100%;
      padding: 0 40px;
    }
  }
}

.growIn {
  @include animation-name(growIn);
}

// Animation

@-webkit-keyframes growIn {
  from {
    @include transform(scale(0.0));
  }

  to {
    @include transform(scale(1.0));
  }
}

@keyframes growIn {
  from {
    @include transform(scale(0.0));
  }

  to {
    @include transform(scale(1.0));
  }
}

@-webkit-keyframes growOut {
  from {
    @include transform(scale(1.0));
  }

  to {
    @include transform(scale(0.0));
  }
}

@keyframes growOut {
  from {
    @include transform(scale(1.0));
  }

  to {
    @include transform(scale(0.0));
  }
}

// Animation delay timings - for random entrance

.delay-20ms {
  @include animation-delay(0.1s);
}

.delay-30ms {
  @include animation-delay(0.3s);
}

.delay-40ms {
  @include animation-delay(0.5s);
}

.delay-50ms {
  @include animation-delay(0.7s);
}
