<ul class="movieGrid" ng-init="getPlaying()">
  <li ng-repeat="movie in movies | orderBy:order | filter:rating | filter:search" ng-classes="classes">
    <a ng-click="openModal(movie.id)" >

      <div class="details">
        <h3 class="animated fadeInUp">{{movie.title}}</h3>
        <h3>
          <i class="fa fa-heart rating" ratometer="{{movie.ratings.audience_score}}"></i> <br />
          <timer class="percent" count="{{movie.ratings.audience_score}}" time="50"></timer>
        </h3>
      </div>

      <div class="img" background-image="{{movie.posters.original}}"  img-preload ng-classes="classes"></div>
    </a>
  </li>
</ul>