<ul class="movieGrid" ng-init="getUpcoming()">
  <li ng-repeat="movie in movies | orderBy:order | filter:rating | filter:search" ng-classes="classes">
    <a ng-click="openModal(movie.id)" >

      <div class="details">
         <h3 class="animated">{{movie.title}}</h3>
        <i class="fa fa-calendar animated"></i>
        <h4 am-time-ago="movie.release_dates.theater | amCalendar"></h4>
      </div>

      <div class="img" background-image="{{movie.posters.original}}"  img-preload ng-classes="classes"></div>
    </a>
  </li>
</ul>