<ul class="movieGrid" ng-init="getUpcoming()">
           <li ng-repeat="movie in movies | orderBy:order | filter:rating | filter:search">
            <a ng-click="openModal(movie.id)"><img ng-src="{{movie.posters.original}}" img-preload ng-classes="classes" />
                <div>
                    <h3 class="animated">{{movie.title}}</h3>
                    <i class="fa fa-calendar animated"></i>
                    <h4 am-time-ago="movie.release_dates.theater | amCalendar"></h4>

                </div>
            </a>
           </li>
        </ul>