<ul class="movieGrid" ng-init="getUpcoming()">
           <li ng-repeat="movie in movies | orderBy:'-release_dates.theater' | filter:search">
            <a ng-href="{{movie.links.alternate}}" target="_blank" ><img ng-src="{{movie.posters.original}}" img-preload ng-classes="classes" />
                <div>
                    <h3 class="animated">{{movie.title}}</h3>
                    <i class="fa fa-calendar animated"></i>
                    <h4 am-time-ago="movie.release_dates.theater | amCalendar"></h4>

                </div>
            </a>
           </li>
        </ul>